@font-face {
	font-family: 'xkcd-Regular';
	src: local('?'), url('xkcd-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'xkcd-Regular';
	src: local('?'), url('HumorSans.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
#svg_time_drag {
	background-color: #fff;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	min-width: 553px;
	min-height: 395px;
}

svg {
	overflow: visible;
}


#mframe #rectframe, #borderframe #brectframe {
	fill: #fff; stroke: none;
}
#mframe #dialogue {
	fill: #000; stroke: none;
}


#stitch_group g {
	opacity: 0;
	display: none;
}
.sdrag {
	cursor: pointer;
}
.stitch_bg {
	fill: #000; stroke: #111; stroke-width: 1.5; stroke-opacity: 0.75;
}


image {
	image-rendering: optimizeQuality;
}
#images_group image {
}
#frames_group image {
	opacity: 0;
	display: none;
	mask: url(drag.svg#mframe);
}


#border {
	stroke: none;
	
	fill: #000;
}
.bordermid {
	fill: #212121; stroke: none;
}
.borderlight {
	fill: #b7b7b7; stroke: none;
}
#bordercorner rect, #borderframe rect, #mframe rect, #border, #periods rect {
	shape-rendering: crispEdges
}

 

.show {
	display: block;
}
.hide {
	display: none;
}


text {
	font-family: 'xkcd-Regular','xkcd';
}
.text_outline {
	fill: none; stroke: #fff; stroke-width: 3;
}
.text_fill {
	fill: #000; stroke: none;
}
.hilite_outline {
	fill: none; stroke: #000; stroke-width: 3;
}
.hilite_fill {
	fill: #fff; stroke: none;
}
#tframe, #tptext {
	text-anchor: middle;
}


#pmask {

	mask: url(drag.svg#borderframe);
}
#periods {
	display: none;
}
#periods .option, #tptext {
	cursor: pointer;
}
#periods rect {
	opacity: 0.95;
}

#periods .eon text {
	font-weight: bolder; fill: #fff; font-style: italic;
	text-anchor: middle;
	font-size: 1.5em;
}
.eon0 {
	fill: #777;
}
#periods .eon0.option:hover rect {
	fill: #777;
}
.eons {
	fill: none; stroke-width: 4px;
}
.eon0 .eons {
	stroke: #777;
}
.eon1 {
	fill: #696969;
}
#periods .eon1.option:hover rect {
	fill: #696969;
}
.eon1 .eons {
	stroke: #696969;
}
.eon2 {
	fill: #5a5a5a;
}
#periods .eon2.option:hover rect {
	fill: #5a5a5a;
}
.eon2 .eons {
	stroke: #5a5a5a; fill: none; stroke-width: 4px;
}
#periods .era text {
	font-weight: bold; fill: #000;
	text-align: left;
	font-style: normal;
	text-anchor: start;
	font-size: 1.2em;
}
#periods .option text {
	font-size: 0.85em;
	font-weight: normal;
}
.era0 {
	fill: #f0f0f0;
}
.era1 {
	fill: #e6e6e6;
}
.era2 {
	fill: #dcdcdc;
}
.era3 {
	fill: #d2d2d2;
}
.era4 {
	fill: #c8c8c8;
}
.era5 {
	fill: #bebebe;
}
.era6 {
	fill: #b4b4b4;
}
.era7 {
	fill: #aaa;
}
.era8 {
	fill: #a5a5a5;
}
.era9 {
	fill: #a0a0a0;
}
.era10 {
	fill: #9b9b9b;
}
.era11 {
	fill: #969696;
}
.era12 {
	fill: #919191;
}
.era13 {
	fill: #8c8c8c;
}
.era14 {
	fill: #878787;
}
#periods .option:hover text {
	fill: #fff;
}
